body {
    background-color: lightgrey;
    margin: 30pt;
    justify-content:center;
    max-width: 500px;
    margin: auto;
}
  
canvas {
    border: 1pt solid dimgray;
    height: 200px;
}
  
input {
    font-size: 12pt;
}
